.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  padding: 10px;
  height: 70px;
}

.App-header {
  background-color: #222;
  height: 30%;
  padding: 18px;
  color: white;
}

.App-title {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: '100';
  font-size: 1.5em;
}

.App-intro {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: '100';
  font-size: 1.0em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
